[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/mike/.MathWorks/ServiceHost/MichaelArch/v2024.2.0.3/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
